# Virtual Environment
env/
venv/
.venv/

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Jupyter
.ipynb_checkpoints/

# Dataset
CleanData_TDC/
CleanData_IDD/
RawData/
Data/
dataset/
datasets/

# MATLAB files
*.mat

# NumPy files
*.npy
*.npz

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log